{% extends 'base.html.twig' %}

{% block title %}homepage
{% endblock %}

{% block body %}
	<section class="demo">
		<div class="demo__card">
			<h2 class="demo__title">Click a button to trigger the modal</h2>
			<button data-modal-trigger="sample-modal2" class="demo__btn demo__btn--secondary">Sample Modal 2</a>
		</div>
	</section>
	<!-- Sample Modal -->
	<div class="modal" data-modal-name="sample-modal2" data-modal-dismiss>
		<div class="modal__dialog">
			<header class="modal__header">
				<h3 class="modal__title">Clicking the background will dismiss the modal</h3>
			</header>
			<div class="modal__content">
				<p>Simply add the data attribute "data-modal-dismiss" in the parent in order to do so</p>
			</div>
		</div>
	</div>
	<script>
		var _targettedModal,
_triggers = document.querySelectorAll('[data-modal-trigger]'),
_dismiss = document.querySelectorAll('[data-modal-dismiss]'),
modalActiveClass = "is-modal-active";

function showModal(el) {
_targettedModal = document.querySelector('[data-modal-name="' + el + '"]');
_targettedModal.classList.add(modalActiveClass);
}

function hideModal(event) {
if (event === undefined || event.target.hasAttribute('data-modal-dismiss')) {
_targettedModal.classList.remove(modalActiveClass);
}
}

function bindEvents(el, callback) {
for (i = 0; i < el.length; i ++) {
(function (i) {
el[i].addEventListener('click', function (event) {
callback(this, event);
});
})(i);
}
}

function triggerModal() {
bindEvents(_triggers, function (that) {
showModal(that.dataset.modalTrigger);
});
}

function dismissModal() {
bindEvents(_dismiss, function (that) {
hideModal(event);
});
}

function initModal() {
triggerModal();
dismissModal();
}

initModal();
	</script>

{% endblock %}
