* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #2C3E50;
}
/* partie homepage */
.box{
    height: 18vh;
    border-bottom: 1px solid white;
    background-color: #BD4031;
}
.boxtitre{
    height: 10vh;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #E74C3C;
    min-width: 150px;
    min-height: 80px;
}
.boxtitreadmin{
    width: 250px;
}
.boxmenu{
    height: 5vh;
    background-color: #2C3E50;
}
.menu{
    height: 5vh;
    -webkit-clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
    clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
    background-color: #E74C3C;
}
.menu a{
    color: white;
    text-decoration: none;
}
.boxcontain{
    background-color: brown;
}
.card_projet{
    width: 400px;
    background-color: #BD4031;
}
.card_projet:hover{
    transform:scale(0.98);
    transition-duration: 0.5s;
}
.img_card{
    width: 90%;
    
    border-radius: 6px;
    margin: 0 auto;
}
.card_projet a{
    color: white;
    text-decoration: none;
}
.footer{
    height: 8vh;
    position: relative;
    bottom:0;
    border-top: 1px solid white;
    background-color: #BD4031;
}
.textfooter{
    height: 8vh;
    display: flex;
    align-items: center;

}
.git{
    position: absolute; bottom: 0; right:0; margin-right: 50px;
}
.remove{
    position: absolute; top: 0; right:0; margin-right: -10px; margin-top: -10px;
}
.btnadd{
    width: 50px;
    background: none;
    border: none;
}
.btnadditem{
    width: 50px;
    border: 1px solid white;
    border-radius:50%;
}
.btnadditem:hover{
    transform: scale(1.1);
    transition-duration: 0.3s;
}
.box-additem{
    border: 1px solid white;
}
.btnquitt{
    margin-right: 15px;
    text-decoration: none;
}
.x{
    color: white;
    font-size: 50px;
}
.x:hover{
    transform: rotate(180deg);
    transition-duration: 1s;
}
/* partie crud */
.menulat{
    height: 80vh;
    background-color: #BD4031;
}
li a{
    text-decoration: none;
    color: white;
}
li a:hover{
    color: black;
}
.retour{
    border: 1px solid white;
    border-radius: 4px;
}
.retour:hover{
    transform: scale(0.95);
    transition-duration: 0.5s;
}
.active {
    text-shadow: 2px 3px 5px rgba(78, 0, 0, 0.8);
    text-decoration: underline;
}
.tableau{
    margin-bottom: 90px;
}
.box_menu1{
    display: none;
}
.box_menu2{
    display: block;
}
.btn_admin_action{
    text-decoration: none;
    width: 100px;
    height: 50px;
    border: 1px solid white;
    border-radius: 4px;
    
}
.btn_admin_action:hover{
    transform: scale(0.9);
    transition-duration: 0.5s;
}
.brown{
    background-color: brown;
    color: white;
}
.green{
    background-color: green;
    color: black;
}
.red{
    background-color: red;
    color: white;
}
.btn_down{
    cursor: pointer;
    width: 30px;
    height: 50px;
  }
  .btnresp, .colbtnresp {
    display: none;
  }
@media (max-width: 768px) {
    .box_menu1{
        display: block;
    }
    .box_menu2{
        display: none;
    }
}
@media screen and (max-width: 1148px) {
    .btnresp {
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      width: 100% !important; 
    }
    .colbtnresp {
      display: block !important;
      width: 100% !important;
      text-align: center !important;
      border-bottom: none !important;
    }
  }
/* page connexion et inscription */
.box_retour{
    width: 90px;
    height: 40px;
    text-align: center;
    padding: 5px;
    border: 1px solid white;
    border-radius: 3px;color: white;
}
.box_retour a{
    color: white;
}
.box_retour:hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
    border: 1px solid black;color: black;
}
.box_retour a:hover{
    color: black;
}
/* formaulaire inscription et connexion */

.bg_form{
    background-color: #BD4031;
    border-radius: 7px;
}
.btnco{
    width: 110px;
    height: 55;
    color: white;
    border: 1px solid white;
    border-radius: 5px;
    background-color: #BD4031;
}
.btnco:hover{
    transform: scale(1.05);
    transition-duration: 0.5s;
}
/* test */

.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 15px;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.88);
    -webkit-animation-duration: 0.35s;
            animation-duration: 0.35s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
    /* Modifiers */
    /* States */
  }
  .modal__dialog {
    position: relative;
    max-width: 500px;
    padding: 20px;
    margin: auto;
    border-radius: 4px;
    background-color: #fff;
  }
  .modal__close {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    border: none;
    color: #ccc;
    background-color: transparent;
    background-image: none;
  }
  .modal__close:focus {
    outline: 0;
  }
  .modal__header {
    border-bottom: 1px solid #e2e2e2;
  }
  .modal__title {
    margin: 0 0 15px;
  }
  .modal__content {
    padding: 10px 0;
    font-size: 13px;
    line-height: 1.6;
    color: #555;
  }
  .modal__footer {
    padding-top: 20px;
    border-top: 1px solid #e2e2e2;
    text-align: right;
  }
  .modal--fullscreen {
    padding: 5px;
  }
  .modal--fullscreen .modal__dialog {
    width: 100%;
    max-width: none;
    height: 100%;
    border-radius: 0;
  }
  .modal.is-modal-active {
    display: flex;
  }
  /* Animation */
  @-webkit-keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
